<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splashimage"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManWon"
        tools:targetApi="31">
        <activity
            android:name=".FeedWriteActivity"
            android:exported="false" />
        <activity
            android:name=".Gift_Item_Regist_Catecory"
            android:exported="false" />
        <activity
            android:name=".ItemExchangeActivity"
            android:exported="false" />
        <activity
            android:name=".ItemCollectiveBuyActivity"
            android:exported="false" />
        <activity
            android:name=".ItemRegist_Finish"
            android:exported="false" />
        <activity
            android:name=".Regist_Item_Category"
            android:exported="false" />
        <activity
            android:name=".BottomNavigation_Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gift_Ice_CreamActivity"
            android:exported="false" />
        <activity
            android:name=".Gift_VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".Gift_BreadActivity"
            android:exported="false" />
        <activity
            android:name=".Gift_ConvenienceActivity"
            android:exported="false" />
        <activity
            android:name=".Gift_TravelActivity"
            android:exported="false" />
        <activity
            android:name=".Gift_FastFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Gift_ChickenActivity"
            android:exported="false" />
        <activity
            android:name=".Gift_CafeDessertActivity"
            android:exported="false" />
        <activity
            android:name=".ItemRegist_Gift"
            android:exported="false" />
        <activity
            android:name=".ListViewAdapter"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="pnu0l53gpm" />

        <activity
            android:name=".MapViewActivity"
            android:exported="false" />
        <activity
            android:name=".ItemRegist_gonggu"
            android:exported="false" />
        <activity
            android:name=".ItemRegist_exchange"
            android:exported="false" />
        <activity
            android:name=".ItemRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".YakGwanActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>